$color-white: #ffffff;
$color-black: #1E2834;
$color-blue:  #2091F9;
$bgcolor-blue:#2091F9;
$bgcolor-grey:#EEEEEE;
$bgcolor-white:#ffffff;
$bg-color-pink:#F2BBAD;
$bgcolor-black:#1E2834;
$bgcolor-violet:#DFCCF1;
$bgcolor-lightblue:#9AB7D3;
$bgcolor-powderash:#BDD0C4;
$border-color:#E5E5E5;